nav {
   height: 5em;
   
    justify-content: flex-start;
    padding: 1em;
}

.burger-menu {
    height: 100%;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    cursor: pointer;
}

.burger-bar {
    width: 2rem;
    height: 0.5em;
    background-color:black;
    border-radius: 0.5em;
    position: relative;
   top: 9rem;
   z-index: 2;
}

.menu {
    width: 15%;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 9rem;
    z-index: 1;
    border-radius: 0.5em;
       box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.65rem 0.65rem rgba(0,0,0,0.22);

}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1){
    
    transform: rotate(45deg) translate(0.75em, 1.25em);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2){
    transform: scale(0.1);
    transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3){
    transform: rotate(135deg) translate( -.01em, 0.5em);
    transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
    transform: rotate(0) translate(0);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.navbarlist{
    height: auto;
    padding: 0;
}
.navbarlist .row{
    top: 80px;
    position: relative;
width: 100%;
height: 60px;
list-style-type: none;
margin: 0%;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-family:Arial, Helvetica, sans-serif; 


}

.navbarlist .row:hover{
    cursor: pointer;
    background-color: rgb(190, 190, 207);
    
}

.row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
    }

.row #title{
    flex: 70%;
    top: 20px;
}
