.userBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem; 
    height: 10rem;
    margin: auto;
    margin-top: 10rem;
font-family: 'Montserrat', sans-serif;
  border-radius: 1.25rem;
  position: relative;
 background-color: white;
  box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.65rem 0.65rem rgba(0,0,0,0.22);
}
.pic{
 margin-right: 20rem;   
}

.avatar{
   
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-width: 5px;
    border-color: gray;
    border-style: outset;   
    margin-left: 1rem;
    margin-top: 4.5rem;
}

.UserText{
    margin-right: 30rem;
    text-align: left;
}


.CalBox,
.CommentBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.25rem;
    box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.65rem 0.65rem rgba(0, 0, 0, 0.22);
    background-color: white;
}

.CalBox {
    margin-left: 25rem;
    margin-top: 4rem;
}

.CommentBox {
   margin-left: 65rem;
    margin-top: -20rem;
      padding-left: 20px;
}