.Mapimg{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width:85%;
}    
.seat-dot {
    background-color: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 0;
    font-size: 0;
    z-index: 1;


  }
  .seat1 {
    position: absolute;
    top: 25.6rem;
    left: 45.5rem;
  }
  
  .seat2 {
    position: absolute;
    top: 25.6rem;
    left: 46.7rem;
  }
  
  .seat3 {
    position: absolute;
    top: 25.6rem;
    left: 47.9rem;
  }
  .booked{
    background-color: red;
  }
 
  .popup{
    height: 14rem;
    width: 12rem;
    left: 51rem;
    position: absolute;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0.875rem 1.75rem rgba(0,0,0,0.25), 0 0.65rem 0.65rem rgba(0,0,0,0.22);
 
}  
.confirmBut{
    border-radius: 2rem;
	border: 1px solid #070707;
	background-color: #7c2bff;
	color: #FFFFFF;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 0.5rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    margin-left: 1rem;
    margin-right: 1rem;
}
.cancelBut{
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    border-radius: 2rem;
	border: 1px solid #070707;
	background-color: #7c2bff;
	color: #FFFFFF;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 0.5rem;
	text-transform: uppercase;
	transition: transform 80ms ease-in;   
}

@media only screen and (max-width: 700px) {
    .Mapimg {
        position: relative;
        top: 1rem;
        left: 1rem;
        width:100%;
    }

        .Mapimg {
            position: relative;
            width:90%;  
        }
        .seat1 {
    
            position: relative;
            bottom: 19.4rem;
            left: 45.5rem;
          }
          
          .seat2 {
            
          
            display: inline-block;
            position: relative;
            bottom: 19.4rem;
            left: 45.8rem;
          }
          
          .seat3 {
          
            display: inline-block;
            position: relative;
            bottom: 19.4rem;
            left: 46rem;
          }

}
