.wrapper {
    max-width: 1170px;
    margin: auto;
    padding: 70px;
}

.bookingForm {
    align-items: center;
    position: relative;
    margin: auto auto;
    height: 10rem;
    width: 35rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0 0.875rem 1.75rem rgba(0, 0, 0, 0.25), 0 0.65rem 0.65rem rgba(0, 0, 0, 0.22);
}

.inlineElements {
    display: inline-table;
    margin-left: 2rem;
}
.OfficeOption{
    border: 1px solid #070707;
    border-radius: 0.9rem;
    font-size: 0.8rem; 
}
.react-datepicker {
    position: absolute;
    top: 100%; /* Position it below the parent component */
    left: 3rem;
    border: 1px solid #070707;
    border-radius: 0.9rem;
    font-size: 0.8rem;
}
.SelectDateCalendar{
    border: 1px solid #070707;
    border-radius: 0.9rem;
    font-size: 0.8rem;
}
.radio{
    position:absolute;
    left: 3rem;
    bottom: 3rem;
}
.floor {
    position: absolute;
   right: 25rem;
   top: 4rem;
   
  
}
.timeBox{
    border: 1px solid #070707;
    border-radius: 0.9rem;
    font-size: 0.8rem;
}

.floorOption {
    position: absolute;
    right: 20rem;
    top: 4.3rem;
    border: 1px solid #070707;
    border-radius: 0.9rem;
    font-size: 0.8rem;
}

.button{
    position: fixed;
    top: 26rem;
    right: 30rem;
    display: grid;
    width: 15%;
}

.MapImg {
    position: relative;
    top: 0rem;
    left: 10rem;
    width:70%;
}
.SubBut{
    position: absolute;
    top: 2rem;
    border-radius: 2rem;
	border: 1px solid #070707;
	background-color: #7c2bff;
	color: #FFFFFF;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 0.2rem 1rem;
}
@media only screen and (max-width: 1000px) {
   
    
}

@media only screen and (max-width: 700px) {

}